body {
    background-color: #F0F0F0;
    font-family: 'Roboto', sans-serif;
}

#video {
    background-color: #000000;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    height: auto;
    width: 65%;
    border: 2px solid #379EC1;

}

li {
    display: inline;
    padding: 5px;
}

button {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 4px solid #379EC1;
    color: #379EC1;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', light;
    font-size: 35px;
    margin: 8px 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline;
}



button:hover {
    background-color: #379EC1;
    color: white;
    border: 2px solid #379EC1;
}

.btn {
    margin-top: 4%;
    margin-left: 10%;
}

.btn2 {
    margin-left: 14%;
    font-family: 'Roboto', light;
    font-size: 20px;

}

a{
    cursor: pointer;
    position: fixed;
    top: 100%;
    margin: -200px auto 0 auto;
    font-family: 'Roboto', light;
}